.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_log {
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;

}
.header_logImage{
  margin-right: 10px;

}
.header_logTitle {
    text-decoration: none;
    border: 0;
    color: white;
}
.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}
.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;

}
.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #ff9f00;

}
.header_nav {
    display: flex;
    justify-content: space-evenly;
}
.nav_item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.nav_itemLineOne {
    font-size: 10px;


}

.nav_itemLineTwo {
    font-size: 10px;
    font-weight: 800;
    
}
.nav_itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;

}
.nav_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}
