.Product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  
    
}
.product_rating {
    display: flex;
}
.Product > img {
   width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin: 20px 0 0 15px;
}

.Product > button {
    background-color: #ff9f00;
    border: 2px solid;
    margin-top: 10px;
    border-color: #a88734  #9c7e31  #846a29;
    color: #111;


}
.product_price {
    margin-top: 5px;
}
.product_information {
    height: 100px;
    margin-bottom: 15px;
}